.main {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;

  .select {
    margin: 18.2vh auto 0;
    padding: 11px 0;
    height: auto;
    text-align: center;
    box-shadow: 3px 3px 3px -1px #07070a;
    border: 2px outset #636364;
    background: rgba(182, 188, 151, 0.02);
    backdrop-filter: blur(4px);
  }

  a.button {
    border-radius: 15px;
    box-shadow: 2px 2px 2px -1px #07070a;
    display: block;
    padding: 4px 3px 3px;
    width: 115px;
    color: #f2dfb3;
    margin: 10px auto;
    background: rgb(102, 102, 102);
    line-height: 30px;
    font-size: 1.4em;
    cursor: pointer;
  }
  a.button.active,
  a.button:active {
    box-shadow: 0 0 1px 0px black;
    color: #38ec13;
    background: #23532d;
    border-color: black;
  }
}
