.root {
  position: relative;
  width: 320px;
  height: 521px;
  overflow: hidden;
  margin: auto;
  border-radius: 45px;
  border: 16px solid #a8c5c1;
  box-sizing: border-box;
  box-shadow: 7px 8px 3px -1px rgb(0, 0, 0);

  @import "header";
  @import "main";
  @import "road";
  @import "footer";
  
  .hide {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 7px solid rgb(7, 13, 15);
    box-sizing: border-box;
    border-radius: 30px;
    background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0) 75%,
      rgb(0, 0, 0) 100%
    );
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .root {
    margin: 0 auto;
  }
}
